/* MAIN BLOCK CONTAINER */
#mainBlock {
    border: solid;
}

/* HEADER BAR */

#headerBar {
    height: 150px;
    border-style: solid;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

#headerBar-name-holder {
    width: 550px;
    display: inline-block;
    vertical-align: middle;
}

#headerBar-name {
    font-size: 80px;
    margin-left: 5%;
    vertical-align: middle;
}

#headerBar-logo-holder {
    display: inline-block;
    vertical-align: middle;
}

#headerBar-logo {
    height: 150px;
}

/* GIVE HELP */

#seekingHelpButton {
    height: 150px;
    border-style: solid;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

#seekingHelpButton-text {
    font-size: 80px;
    text-align: center;
    margin-top: 5%;
}

#resourceList {
  margin-left: 10%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
