a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

/* MAIN BLOCK CONTAINER */
#mainBlock {
    height: 80%;
    background-image: url("lightning.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
}

#mainResourceBlock {
    height: 100%;
    background-image: url("lightning.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
}

/* HEADER BAR */

#back_arrow{
    font-size: 40px;
    vertical-align: middle;
}

#down-arrow {
    font-size: 150px;
}

#down-arrow-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(141, 118, 118, 0.2);
    margin-top: 375px;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

#homeheaderBar {
    height: 200px;
    width: 80%;
    margin-top: 5%;
    border-style: solid;
    margin-left: 10%;
    padding-left: 40px;
    background-color: white;
}

#headerBar {
    height: 115px;
    margin: 0 auto;
    padding-left: 20px;
    background-color: rgba(2, 1, 1, 0.6);
}

#homeheaderBar-name-holder {
    width: 550px;
    display: inline-block;
    vertical-align: middle;
}

#headerBar-name-holder {
    width: 277px;
    display: inline-block;
    vertical-align: middle;
}

#homeheaderBar-name {
    font-size: 80px;
    margin-left: 7%;
    vertical-align: middle;
    font-family: "Georgia", Georgia;
}


#headerBar-name {
    font-size: 45px;
    margin-left: 7%;
    vertical-align: middle;
    font-family: "Helvetica", Helvetica;
    color: white;
}

#homeheaderBar-logo-holder {
    display: inline-block;
    vertical-align: middle;
}

#headerBar-logo-holder {
    display: inline-block;
    vertical-align: middle;
}

#homeheaderBar-logo {
    height: 150px;
}


#headerBar-logo {
    height: 70px;
}

/* GIVE HELP */

#tagLine {
    width: 60%;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    color: white;
}

#seekingHelpText {
    width: 60%;
    font-size: 45px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    color: white;
}

#seekingHelpSection {
    height: 500px;
    margin: 0 auto;
    background-color: rgba(2, 1, 1, 0.6);
    margin-bottom: 25%;
    margin-top: 25%;
    font-family: "Helvetica", Helvetica;
}

i.icon-white {
    color: white;
}

#buttonSection {
    width: 20%;
    margin: 0 auto;
}

.signInUpButton {
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgba(61, 48, 48, 0.8);
    /* border: solid; */
}

#seekingHelpButtons {
    color: white;
    font-size: 80px;
    text-align: center;
    margin-top: 5%;
}

/* Resources Pages */

#resources {
    height: fit-content;
    border-style: solid;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: white;
}

#resourceList {
  margin-left: 10%;
  font-size: 40px;
  margin-right:5%;
}

#categoryName {
    margin-left: -6%;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#emergencyTips {
    height: 200%;
    border-style: solid;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: white;
}

#emergencyList{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
}
/* SPONSORS */

#sponsorsList-name-holder {
    width: 250px;
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
}

#sponsorsList-name {
    font-size: 50px;
    margin-left: 15%;
    margin-top: 0;
}

/* Emergency page */
#mainEmergencyBlock {
    border: solid;
    background-color: rgb(190, 194, 197);
    background-image: url("background.png");
    opacity: 1;
    background-size: contain;
    background-repeat: repeat-y;
    background-blend-mode: overlay;
}

/* RESOURCES BANNER */

#locationFinder{
    display: inline-block;
    font-family: "Times" 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 23%;
}

#resourcesBanner-name {
    font-family: "Helvetica", Helvetica;
    font-size: 60px;
    text-align: center;
    background-color: white;
    border: none;
    margin-top: 20px;
}

/* RESOURCES SECTION */
#resourcesSection {
    height: 80%;
    background-color: white;
    /* background-color: rgba(10, 10, 10, 0.685); */
}

.sponsorImage{ 
    height:80px;
    margin-left:30px;
    vertical-align: middle;
}

.sponsorImageHolder{ 
    display:inline;
}

.signXTable {
    align-self: center;
    padding-left: 25%;

}

.signXTableRow>td {
    padding-bottom: 20px;
}

.signXLabel {
    /* Label for sign in and sign up */
    font-size: 40px;
    padding-right: 20px;
    width: 160px;
}

.signXInput {
    /* Input for sign in and sign up */
    font-size: 40px;
    width: 450px;
    outline: solid;
}

#signInHeaders {
    font-size: 50px;
    text-align: center;
    font-family: "Helvetica", helvetica;
    color: white;
    margin-bottom: 40px;
    padding-top: 45px;
    margin-left:-50px;
}

.signXButton {
    font-size: 40px;
    outline: solid;
    float: right;
    color: white;
    margin-right: 28%;
    margin-top: 10px;
}

#signUpLocation {
    height: 200px;
    width: 635px;
    outline: solid;
    margin: 0 auto;
}

#signUpLocationHolder {
    margin-bottom: 20px;
    text-align: center;
}

#signinDiv {
    height: 25%;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: rgba(2, 1, 1, 0.6);
    font-size: 40px;
}

#signupDiv {
    height: 785px;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: rgba(2, 1, 1, 0.6);
    font-size: 40px;
}

/* Needs */
#tiles {
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    background-color: rgba(2,1,1,0.5);;
    margin-top: 5%;
}

.needCard {
    height: 200px;
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5%;
    background-color: rgba(77, 74, 74, 0.8);
    font-size: 40px;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-family: "helvetica", Helvetica;
    display: inline-block;
}
li {
    padding-bottom: 10px;
    padding-top: 10px;
}
.active{
    display: inline-block;
}

.needTile {
    font-family: "Helvetica", helvetica;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 5%;
    color:white;
    background-color: rgba(2,1,1,0.5);
}

.inactive{
    display: none;
}

input[type="checkbox"]{
    cursor: pointer;
    -webkit-appearance: none;
    background: white;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box ;
    width: 50px;
    height: 50px;
    margin-right: 25px;
    vertical-align: middle;
    border-width: 2px;
    border: solid;
    display: inline-block;
    transition: all .3s linear;
}

input[type="checkbox"]:focus{
    outline: 0 none;
    box-shadow: none;
}

/* Resource tiles */
.tile{ 
    display:block;  
    float:left;  
    width:350px;  
    height:350px;  
    text-decoration:none;  
    position:relative;  
    font-size:35px;  
    margin-left: 62px;
    margin-right: 62px;
    margin-top: 55px;
    overflow:hidden;
    text-align: center;
    line-height:200px;
    border: solid;
}

#check{
    vertical-align: middle;
}

#myNeedsList{
    padding-left: 10%;
    color: white;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-size: 40px;
}

/* COLORS */
.TLightRed{background-color:#E51400}
.TLightOrange{background-color:#FE8300}
.TOrange{background-color:#FD5C04}
.TRed{background-color:#BD0000}
.TBrown{background-color:#7D6058}
.TLightPurple{background-color:#E86EB2}
.TDarkPurple{background-color:#8D0196}
.TLightBlue{background-color:#5FCDCB}
.TBlue{background-color:#1673D2}
.TDarkBlue{background-color:#0849B1}
.TFacebookBlue{background-color:#3B5D9C}
.TTwitterBlue{background-color:#59D5E6}
.TThumblrBlue{background-color:#2A4866}
.TLinkedinBlue{background-color:#1477AC}
.TDribbblePink{background-color:#F26097}
.TTurquise{background-color:#5FCDCB}
.TLightGrey{background-color:#ada7a7ed}
.TGrey{background-color:#BBB}
.TDarkGrey{background-color:#666}
.TLightGreen{background-color:#74E800}
.TGreen{background-color:#00A300}
.TDarkGreen{background-color:#008A00}
.TBlack{background-color:#000}
.TWhite{background-color:#fff} 

