a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

/* MAIN BLOCK CONTAINER */
#mainBlock {
    border: solid;
    background-color: rgb(190, 194, 197);
    background-image: url("background.png");
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
    height: 100%;
}

#mainResourceBlock {
    border: solid;
    background-color: rgb(190, 194, 197);
    background-image: url("background.png");
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    background-blend-mode: overlay;
}

/* HEADER BAR */

#headerBar {
    height: 200px;
    border-style: solid;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: white;
    /* margin-bottom: 25%; */
}

#headerBar-name-holder {
    width: 550px;
    display: inline-block;
    vertical-align: middle;
}

#headerBar-name {
    font-size: 80px;
    margin-left: 7%;
    vertical-align: middle;
    font-family: "Georgia", Georgia;
}

#headerBar-logo-holder {
    display: inline-block;
    vertical-align: middle;
}

#headerBar-logo {
    height: 150px;
}

/* GIVE HELP */

#seekingHelpButton {
    height: 150px;
    border-style: solid;
    width: 67%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: white;
    margin-bottom: 25%;
    margin-top: 25%;
    font-family: "Georgia", Georgia;
}

#seekingHelpButton-text {
    font-size: 80px;
    text-align: center;
    margin-top: 5%;
}

/* Resources Pages */

#resources {
    height: 50%;
    border-style: solid;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: white;
}

#resourceList {
  margin-left: 10%;
  font-size: 40px;
  margin-right:5%;
}

#categoryName {
    margin-left: -6%;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#emergencyTips {
    height: 200%;
    border-style: solid;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: white;
}

#emergencyList{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
}
/* SPONSORS */

#sponsorsList-name-holder {
    width: 250px;
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
}

#sponsorsList-name {
    font-size: 50px;
    margin-left: 15%;
    margin-top: 0;
}

/* Emergency page */
#mainEmergencyBlock {
    border: solid;
    background-color: rgb(190, 194, 197);
    background-image: url("background.png");
    opacity: 1;
    background-size: contain;
    background-repeat: repeat-y;
    background-blend-mode: overlay;
}

/* RESOURCES BANNER */

#resourcesBanner {
    border: solid;
}

#resourcesBanner-name-holder {
    width: 550px;
    display: inline-block;
    margin-top: 0;
}

#locationFinder{
    display: inline-block;
    font-family: "Times" 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 23%;
}

#resourcesBanner-name {
    font-size: 80px;
    margin-left: 15%;
}

/* RESOURCES SECTION */
#resourcesSection {
    border: solid;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.685);
}

.sponsorImage{ 
    height:80px;
    margin-left:30px;
    vertical-align: middle;
}

.sponsorImageHolder{ 
    display:inline;
}

.signin {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
    outline: solid;
}

.signup {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
    outline: solid;
}

#signinDiv {
    height: 20%;
    border-style: solid;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: white;
    margin-left: 10%;
    font-size: 40px;
}

#signupDiv {
    height: 50%;
    border-style: solid;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: white;
    margin-left: 10%;
    font-size: 40px;
}

#tiles {
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    background-color: rgba(255,255,255,0.5);
}

.needCard {
    height: 200px;
    border-style: solid;
    width: 200px;
    margin-left: 10%;
    margin-bottom: 10%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5%;
    background-color: white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

#clothingCard {
    background-color: aquamarine;
}

.tile{ 
    display:block;  
    float:left;  
    width:200px;  
    height:200px;  
    text-decoration:none;  
    position:relative;  
    font-size:35px;  
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 55px;
    overflow:hidden;
    padding-left: 10px;
    text-align: center;
    line-height:200px;
}

/* COLORS */
.TLightRed{background-color:#E51400}
.TLightOrange{background-color:#FE8300}
.TOrange{background-color:#FD5C04}
.TRed{background-color:#BD0000}
.TBrown{background-color:#7D6058}
.TLightPurple{background-color:#E86EB2}
.TDarkPurple{background-color:#8D0196}
.TLightBlue{background-color:#5FCDCB}
.TBlue{background-color:#1673D2}
.TDarkBlue{background-color:#0849B1}
.TFacebookBlue{background-color:#3B5D9C}
.TTwitterBlue{background-color:#59D5E6}
.TThumblrBlue{background-color:#2A4866}
.TLinkedinBlue{background-color:#1477AC}
.TDribbblePink{background-color:#F26097}
.TTurquise{background-color:#5FCDCB}
.TLightGrey{background-color:#ada7a7ed}
.TGrey{background-color:#BBB}
.TDarkGrey{background-color:#666}
.TLightGreen{background-color:#74E800}
.TGreen{background-color:#00A300}
.TDarkGreen{background-color:#008A00}
.TBlack{background-color:#000}
.TWhite{background-color:#fff} 

